.card {
  margin: 10px;
  size: 100px;
}
.card-deck {
  margin: 10px;
}
.col {
  padding-left: 10px;
  padding-right: 10px;
}
.col-sm {
  min-width: 340px;
  max-width: 340px;
}
.jumbotron-fluid {
  padding: 20px;
  margin: 0px;
}
.card:hover {
  border: #495460;
}
.tumb {
  color: #596572;
}
