<div class="jumbotron jumbotron-fluid">
<div class="row">
  <div class="col col-sm">
    <button *ngIf="!showFin" class="btn btn-link" (click)="showFinished()">Show finished auctions</button>
    <button *ngIf="showFin" class="btn btn-link" (click)="showFinished()">Show ongoing auctions</button>
  </div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">
    <button class="btn btn-primary">
      Start new auction
    </button>
  </div>
</div>
</div>
<div  class="card-deck">
  <div *ngFor="let auction of auctions">
      <div class="col col-sm">
          <div class="card" routerLink="/auctions/{{auction.id}}">
            <div class="card-header">
              <h4 class="card-title">{{auction.product.name}}</h4>
            </div>
            <div class="card-body">
              <p class="card-text">{{auction.product.description}}</p>
            </div>
            <div class="card-footer">
              <p class="card-text"><b>Price:</b> {{auction.product.price}} $</p>
            </div>
          </div>
      </div>
  </div>
</div>
<div *ngIf="!auctions || auctions.length == 0">
  <h2>No match found for your request</h2>
</div>
