<div class="container">
  <br>
  <h2>{{ 'administration.header' | translate }}</h2>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>{{ 'administration.table.header.username' | translate }}</th>
      <th>{{ 'administration.table.header.status' | translate }}</th>
      <th>{{ 'administration.table.header.manager' | translate }}</th>
      <th class="table-info">{{ 'administration.table.header.enable' | translate }}</th>
      <th class="table-success">{{ 'administration.table.header.promote' | translate }}</th>
      <th class="table-warning">{{ 'administration.table.header.demote' | translate }}</th>
      <th class="table-info">{{ 'administration.table.header.changePassword' | translate }}</th>
      <th class="table-danger">{{ 'administration.table.header.delete' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.userName}}</td>
      <td>
        <span *ngIf="user.enabled" class="en">{{ 'administration.table.body.enabled' | translate }}</span>
        <span *ngIf="!user.enabled" class="dis">{{ 'administration.table.body.disabled' | translate }}</span>
      </td>
      <td>
        <span *ngIf="isManager(user)" class="fa fa-check en"></span>
        <span *ngIf="!isManager(user)" class="fa fa-times dis"></span>
      </td>
      <td>
        <span *ngIf="user.enabled && !isAdmin(user)"
              class="btn en fa fa-toggle-on"
              (click)="disableUser(user)"></span>
        <span *ngIf="!user.enabled && !isAdmin(user)"
              class="btn dis fa fa-toggle-off"
              (click)="enableUser(user)"></span>
      </td>
      <td>
        <span *ngIf="!isAdmin(user)"
              class="btn fa fa-arrow-up"
              (click)="promoteUser(user)"></span>
      </td>
      <td>
        <span *ngIf="!isAdmin(user)"
              class="btn fa fa-arrow-down"
              (click)="demoteUser(user)"></span>
      </td>
      <td>
        <span class="btn fa fa-key"
              (click)="changePassword(user)"></span>
      </td>
      <td>
        <span *ngIf="!isAdmin(user)"
              class="btn fa fa-times-rectangle-o dis"
              (click)="openConfirmModal(template); selectedUser=user"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{ 'administration.confirm.message' | translate }}</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()">{{ 'administration.confirm.yes' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="declineDelete()">{{ 'administration.confirm.no' | translate }}</button>
  </div>
</ng-template>
<app-change-password></app-change-password>
