<br>
<div class="col-sm-6">
  <h1>{{ 'login.header' | translate }}</h1>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="col-sm-12 form-group">
      <label for="username">{{ 'login.username.label' | translate }}</label>
      <input class="form-control form-control-sm"
             type="text"
             name="username"
             id="username"
             #usernameInput="ngModel"
             [(ngModel)]="loginData.username"
             maxlength="50"
             required>
      <div [hidden]="!isFailed || usernameInput.pristine"
           class="alert alert-danger">{{ 'login.username.failed' | translate }}
      </div>
    </div>
    <div class="col-sm-12 form-group">
      <label for="password">{{ 'login.password.label' | translate }}</label>
      <input class="form-control form-control-sm"
             type="password"
             name="password"
             id="password"
             [(ngModel)]="loginData.password"
             maxlength="255"
             required/>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-primary pull-right"
              type="submit"
              [disabled]="!loginForm.form.valid || buttonLocked">{{ 'login.button' | translate }}</button>
    </div>
  </form>
</div>
