<div bsModal #betsModal="bs-modal" class="modal fade">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="dialog-child-name" class="modal-title pull-left">Bets for: </h3>
        <h3 *ngIf="auction" class="modal-title pull-right">{{auction.product.name}}</h3>
      </div>
      <div class="modal-body" *ngIf="!bets;else unset">
        <h5 class="modal-content">No bets yet.</h5>
      </div>
      <div class="modal-body" *ngFor="let bet of bets" #unset>
        <div >
          <table class="table">
            <tr>
              <td>
                <div class="pull-left"><b>Date:</b> {{bet.betTime}}</div>
              </td>
              <td>
                <div class="pull-left"><b>User: </b> {{bet.user_name}}</div>
              </td>
              <td>
                <div class="pull-right"><b>Price: </b>{{bet.price}} $</div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #newBetModal="bs-modal" class="modal fade">

</div>
