<div bsModal #newProductModal="bs-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col ">
          <h3 id="dialog-new-product" class="modal-title pull-left">{{ 'product.header' | translate }}</h3>
        </div>
        <div class="col col-sm-1">
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideNewProductModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitNewProduct()" #newProductForm="ngForm">
          <div class="col col-sm form-group">
            <label for="name"><b>{{ 'product.form.name.label' | translate }}</b></label>
            <input class="form-control form-control-sm"
                   type="text"
                   name="name"
                   id="name"
                   [(ngModel)]="newProduct.name"
                   #productInput="ngModel"
                   maxlength="50"
                   required>
          </div>
          <div class="col col-sm form-group">
            <label for="category"><b>{{ 'product.form.category.label' | translate }}</b></label>
            <select class="form-control" id="category" name="category" [(ngModel)]="newProduct.category_name">
              <option disabled selected value>{{ 'product.form.category.default' | translate }}</option>
              <option *ngFor="let category of categories">{{category.name}}</option>
            </select>
          </div>
          <div class="col col-sm form-group">
            <label for="price"><b>{{ 'product.form.price.label' | translate }}</b></label>
            <input class="form-control form-control-sm"
                   type="number"
                   name="price"
                   id="price"
                   [(ngModel)]="newProduct.price"
                   #priceInput="ngModel"
                   required>
            <div [hidden]="priceInput.valid || priceInput.pristine"
                 class="alert alert-danger">{{ 'product.form.price.valid' | translate }}
            </div>
          </div>
          <div class="col col-sm form-group">
            <label for="description"><b>{{ 'product.form.description.label' | translate }}</b></label>
            <textarea class="form-control"
                      rows="3"
                      id="description"
                      name="description"
                      [(ngModel)]="newProduct.description"
                      maxlength="255"
                      required>
            </textarea>
          </div>
          <div class="col-sm">
            <button class="btn btn-primary pull-right"
                    type="submit"
                    [disabled]="!newProductForm.form.valid && !newProduct.category_name">{{ 'product.form.button' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #selectProductModal="bs-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col col-6">
          <h3 id="dialog-products" class="modal-title pull-left">{{ 'product.selectModal.header' | translate }}</h3>
        </div>
        <div class="col col-sm-1">
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideSelectProductModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body" *ngIf="!products;else unset">
        <h5 class="modal-content">{{ 'product.selectModal.empty' | translate }}</h5>
      </div>
      <div class="modal-body" *ngFor="let product of products" #unset>
        <div class="btn" (click)="selectProduct(product)">
          <div class="row">
            <div class="col"><b>{{ 'product.selectModal.body.name' | translate }}</b>{{product.name}}</div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col"><b>{{ 'product.selectModal.body.category' | translate }}</b>{{product.category_name}}</div>
            <div class="col"><b>{{ 'product.selectModal.body.price' | translate }}</b>{{product.price}} $</div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
