<div class="container">
  <br>
  <h2>{{ 'management.auctions.header' | translate }}</h2>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>{{ 'management.auctions.table.header.auctionId' | translate }}</th>
      <th>{{ 'management.auctions.table.header.owner' | translate }}</th>
      <th>{{ 'management.auctions.table.header.productId' | translate }}</th>
      <th>{{ 'management.auctions.table.header.productName' | translate }}</th>
      <th>{{ 'management.auctions.table.header.createTime' | translate }}</th>
      <th>{{ 'management.auctions.table.header.status' | translate }}</th>
      <th class="table-danger">{{ 'management.auctions.table.header.delete' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let auction of auctions" routerLink="/auctions/{{auction.id}}">
      <td>{{auction.id}}</td>
      <td>{{auction.owner_name}}</td>
      <td>{{auction.product.id}}</td>
      <td>{{auction.product.name}}</td>
      <td>{{auction.createTime | date:'dd.MM.yyyy HH:mm'}}</td>
      <td>
        <span *ngIf="!auction.finished" class="en">{{ 'management.auctions.table.status.ongoing' | translate }}</span>
        <span *ngIf="auction.finished" class="dis">{{ 'management.auctions.table.status.finished' | translate }}</span>
      </td>
      <td>
        <span class="btn fa fa-times-rectangle-o dis"
              (click)="openConfirmDeleteModal(template); selectedAuction=auction; $event.stopPropagation();">
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{ 'management.auctions.confirm.message' | translate }}</p>
    <button type="button"
            class="btn btn-default"
            (click)="confirmDeleteAuction()">{{ 'management.auctions.confirm.yes' | translate }}</button>
    <button type="button"
            class="btn btn-primary"
            (click)="declineDeleteAuction()">{{ 'management.auctions.confirm.no' | translate }}</button>
  </div>
</ng-template>
