<div class="container">
  <br>
  <h2>Auctions</h2>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>Auction id</th>
      <th>Owner</th>
      <th>Product id</th>
      <th>Product name</th>
      <th>Create time</th>
      <th>Status</th>
      <th class="danger">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let auction of auctions" routerLink="/auctions/{{auction.id}}">
      <td>{{auction.id}}</td>
      <td>{{auction.owner_name}}</td>
      <td>{{auction.product.id}}</td>
      <td>{{auction.product.name}}</td>
      <td>{{auction.createTime}}</td>
      <td><span *ngIf="!auction.finished" class="en">Ongoing</span><span *ngIf="auction.finished" class="dis">Finished</span></td>
      <td>
        <span class="btn fa fa-times-rectangle-o dis" (click)="openModal(template); selectedAuction=auction; $event.stopPropagation();"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirmDeleteAuction()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteAuction()">No</button>
  </div>
</ng-template>
