<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col">
      <h3>Start new auction</h3>
    </div>
  </div>
</div>
<br>
<div>
  <div class="col">
    <h5>Product</h5>
    <div *ngIf="!newAuction.product">
      <button class="btn btn-link" (click)="selectExistProduct()">
        Select exist
      </button>
      or
      <button class="btn btn-link" (click)="createNewProduct()">Create new</button>
    </div>
    <div *ngIf="newAuction.product">
      {{newAuction.product.name}}
      <button class="btn btn-link" (click)="editNewProduct()">
        Edit
      </button>
      or
      <button class="btn btn-link" (click)="selectExistProduct()">Select exist</button>
    </div>
  </div>
  <br>
  <div class="col">
    <h5>Auction duration:</h5>
    <div class="btn-group">
      <label class="btn btn-outline-info" [(ngModel)]="duration"
             btnRadio=1 tabindex="0" role="button">1 day</label>
      <label class="btn btn-outline-info" [(ngModel)]="duration"
             btnRadio=3 tabindex="0" role="button">3 day</label>
      <label class="btn btn-outline-info" [(ngModel)]="duration"
             btnRadio=7 tabindex="0" role="button">7 day</label>
    </div>
  </div>
  <br>
  <div class="col">
    <div class="row">
      <div class="col col-sm-4">
        <h5><label for="description">Description:</label></h5>
        <textarea class="form-control" rows="5" id="description" [(ngModel)]="newAuction.description"
                  required></textarea>
      </div>
    </div>
  </div>
  <br>
  <div class="col">
    <button
      [disabled]="!newAuction.description || !newAuction.product || !duration"
      class="btn btn-secondary"
      (click)="startAuction()">Start auction
    </button>
  </div>
</div>
<app-product></app-product>
