<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" (click)="isOpen=false">{{ 'header.mainPage' | translate }}</a>
  <button class="navbar-toggler" type="button" (click)="isOpen=!isOpen" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [collapse]="!isOpen" class="collapse navbar-collapse" id="header">
    <form class="form-inline" (submit)="search()">
      <div class="navbar-nav">
        <div class="nav-item">
          <input class="form-control-sm" type="search" placeholder="{{ 'header.search.placeHolder' | translate }}"
                 [(ngModel)]="searchTag" name="searchInput">
          <button class="btn btn-sm btn-info" type="submit">{{ 'header.search.button' | translate }}</button>
        </div>
      </div>
    </form>
    <div class="navbar-nav ml-auto">
      <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle"
                id="localeMenu"
                data-toggle="dropdown">
          <span class="fa fa-globe"></span>
        </button>
        <div class="dropdown-menu">
          <button class="btn dropdown-item" (click)="changeLanguage('en'); isOpen=!isOpen">en</button>
          <button class="btn dropdown-item" (click)="changeLanguage('ru'); isOpen=!isOpen">ru</button>
        </div>
      </div>

      <div class="nav-item">
        <a *ngIf="!isLogged" class="btn btn-link nav-link" (click)="clickLogin(); isOpen=!isOpen">
          <span class="fa fa-sign-in"></span>{{ 'header.login' | translate }}</a>
        <a *ngIf="isLogged" class="btn btn-link nav-link" (click)="clickUser(); isOpen=!isOpen">
          <span class="fa fa-user"></span>{{ 'header.user' | translate }}</a>
      </div>
      <div class="nav-item">
        <a *ngIf="!isLogged" class="btn btn-link nav-link" routerLink="/signup" (click)="isOpen=!isOpen">
          <span class="fa fa-user-plus"></span>{{ 'header.signUp' | translate }}</a>
        <a *ngIf="isLogged" class="btn btn-link nav-link" (click)="clickLogout(); isOpen=!isOpen">
          <span class="fa fa-sign-out"></span>{{ 'header.logout' | translate }}</a>
      </div>
    </div>
  </div>
</nav>
