<div class="container">
  <br>
  <h2>{{ 'management.products.header' | translate }}</h2>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>{{ 'management.products.table.header.productId' | translate }}</th>
      <th>{{ 'management.products.table.header.name' | translate }}</th>
      <th>{{ 'management.products.table.header.category' | translate }}</th>
      <th>{{ 'management.products.table.header.price' | translate }}</th>
      <th>{{ 'management.products.table.header.description' | translate }}</th>
      <th class="table-danger">{{ 'management.products.table.header.delete' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.category_name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>
        <span class="btn fa fa-times-rectangle-o dis"
              (click)="openConfirmDeleteModal(template); selectedProduct=product"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{ 'management.products.confirm.message' | translate }}</p>
    <button type="button"
            class="btn btn-default"
            (click)="confirmDeleteProduct()">{{ 'management.products.confirm.yes' | translate }}</button>
    <button type="button"
            class="btn btn-primary"
            (click)="declineDeleteProduct()">{{ 'management.products.confirm.no' | translate }}</button>
  </div>
</ng-template>
