<div *ngIf="!success" class="col-sm-6">
  <h1>Sign up</h1>
  <form (ngSubmit)="onSubmit()" #signForm="ngForm">
    <div class="col-sm-12 form-group">
      <label for="username">Username</label>
      <input class="form-control form-control-sm"
             type="text"
             name="username"
             id="username"
             [(ngModel)]="signData.username"
             #usernameInput="ngModel"
             required>
      <div [hidden]="usernameInput.valid || usernameInput.pristine"
           class="alert alert-danger">Username is required
      </div>
      <div [hidden]="!userExist || usernameInput.pristine"
           class="alert alert-danger">User already exist
      </div>
    </div>
    <div class="col-sm-12 form-group">
      <label for="password">Password</label>
      <input class="form-control form-control-sm"
             type="password"
             name="password"
             id="password"
             [(ngModel)]="signData.password"
             #passwordInput="ngModel"
             required>
      <div [hidden]="passwordInput.valid || passwordInput.pristine"
           class="alert alert-danger">Password is required
      </div>
    </div>
    <div class="col-sm-12 form-group">
      <label for="confirm">Confirm password</label>
      <input class="form-control form-control-sm"
             type="password"
             name="confirm"
             id="confirm"
             [(ngModel)]="signData.confirm"
             #confirmInput="ngModel"
             required>
      <div [hidden]="signData.confirm==signData.password || confirmInput.pristine"
           class="alert alert-danger">Different passwords
      </div>
    </div>
    <div class="col-sm-12">
      <button class="btn btn-primary pull-right"
              type="submit"
              [disabled]="!signForm.form.valid || signData.confirm!==signData.password">Sign up
      </button>
    </div>
  </form>
</div>
<div *ngIf="success" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>Registration completed successfully</h3>
    <button class="btn btn-link" (click)="mainPage()">
      <h5>Back to main page</h5>
    </button>
  </div>
</div>
