<div bsModal #changePasswordModal="bs-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col">
          <h3 id="dialog-new-bet" class="modal-title pull-left">{{ 'userOperations.changePassword.header' | translate }}</h3>
        </div>
        <div class="col col-sm-1">
          <button type="button" class="close pull-right" aria-label="Close" (click)="hidePasswordChangeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitPasswordChange()" #newBetForm="ngForm">
          <div class="col-sm-12 form-group">
            <label for="password">{{ 'userOperations.changePassword.form.password.label' | translate }}</label>
            <input class="form-control form-control-sm"
                   type="password"
                   name="password"
                   id="password"
                   [(ngModel)]="passwords.password"
                   #passwordInput="ngModel"
                   maxlength="255"
                   required>
            <div [hidden]="passwordInput.valid || passwordInput.pristine"
                 class="alert alert-danger">{{ 'userOperations.changePassword.form.password.valid' | translate }}
            </div>
          </div>
          <div class="col-sm-12 form-group">
            <label for="confirm">{{ 'userOperations.changePassword.form.confirm.label' | translate }}</label>
            <input class="form-control form-control-sm"
                   type="password"
                   name="confirm"
                   id="confirm"
                   [(ngModel)]="passwords.confirm"
                   #confirmInput="ngModel"
                   maxlength="255"
                   required>
            <div [hidden]="passwords.confirm==passwords.password || confirmInput.pristine"
                 class="alert alert-danger">{{ 'userOperations.changePassword.form.confirm.valid' | translate }}
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-primary pull-right"
                    type="submit"
                    [disabled]="passwords.confirm!==passwords.password">{{ 'userOperations.changePassword.form.button' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
