<div class="row">
  <div class="col col-sm-2"></div>
  <div class="col col-sm-8">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col col-8">
            <h2 *ngIf="auction">{{auction.product.name}}</h2>
          </div>
          <div class="col col-4">
            <h5 *ngIf="auction">Category:
              <a class="btn btn-link" (click)="showCategory(auction.product.category_name)">
                {{auction.product.category_name}}
              </a>
            </h5>
          </div>
        </div>
        <table class="table">
          <tr>
            <td>
              <h5 *ngIf="auction">{{auction.product.description}}</h5>
              <p *ngIf="auction">{{auction.description}}</p>
            </td>
            <td>
              <div *ngIf="auction"><b>Start price: </b>{{auction.product.price}} $</div>
              <p *ngIf="auction"><b>Owner: </b>{{auction.owner_name}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <div *ngIf="bets"><b>Current bet: </b> {{bets[bets.length - 1].price}} $</div>
              <button *ngIf="isAuthenticated()" type="button" class="btn btn-sm btn-link"
                      (click)="clickHistory(auction)">bets history
              </button>
            </td>
            <td>
              <button *ngIf="!finished && !checkOwner()" type="button" class="btn btn-primary" (click)="clickNewBet(auction)">Place a bet</button>
              <button *ngIf="checkOwner() && !finished"
                      type="button"
                      class="btn btn-danger"
                      (click)="stopAuction()">Stop auction</button>
            </td>
          </tr>
        </table>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="col col-sm-2"></div>
</div>
<div bsModal #confirmModal="bs-modal" class="modal ">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Do you want to confirm?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
    </div>
  </div>
</div>
<app-bet></app-bet>
