<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h3>Welcome, {{user.userName}}</h3>
    </div>
    <div class="col"></div>
  </div>
</div>
<div class="row">
  <div class="col col-sm-3">
    <h5>Available operations:</h5>
  </div>
  <div class="col">
    <div class="row">
      <div class="col col-sm-3"><h6>My auctions:</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link ongoing" (click)="showAuctions()">Show my auctions</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-sm-3"><h6>My bets:</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link ongoing" (click)="showBets()">Show my bets</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-sm-3"><h6>Edit profile:</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link" (click)="changePassword()">Change password</div>
        </div>
        <div class="row">
          <div class="btn btn-sm btn-link danger" (click)="changePassword()">Delete account</div>
        </div>
      </div>
    </div>
    <hr *ngIf="isManager()">
    <div *ngIf="isManager()" class="row">
      <div class="col col-sm-3"><h6>Management:</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link mng" (click)="changeName()">Auctions management</div>
        </div>
        <div class="row">
          <div class="btn btn-sm btn-link mng" (click)="changePassword()">Products management</div>
        </div>
        <div class="row">
          <div class="btn btn-sm btn-link mng" (click)="changePassword()">Bets management</div>
        </div>
        <div class="row">
          <div class="btn btn-sm btn-link mng" (click)="changePassword()">Categories management</div>
        </div>
      </div>
    </div>
    <hr *ngIf="isAdmin()">
    <div *ngIf="isAdmin()" class="row">
      <div class="col col-sm-3"><h6>Administration:</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link adm" (click)="userAdministration()">Users administration</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-user-operations></app-user-operations>
