<p>
  user works!
</p>
<table>
  <tr>
    <td><b>Name</b></td>
    <td><b>Enabled</b></td>
    <td><b>Delete user</b></td>
    <td><b>Enable user</b></td>
    <td><b>Disable user</b></td>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user.userName}}</td>
    <td>{{user.enabled}}</td>
    <td><button (click)="deleteUser(user); $event.stopPropagation();">X</button></td>
    <td><button (click)="enableUser(user); $event.stopPropagation();">♥</button></td>
    <td><button (click)="disableUser(user); $event.stopPropagation();">Ban</button></td>
  </tr>
</table>
