<div class="jumbotron jumbotron-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-7">
      <h3><span>{{ 'user.header' | translate }}{{user.userName}}</span></h3>
    </div>

  </div>
</div>
<div class="row">
  <div class="col col-sm-3">
    <h5>{{ 'user.operations.header' | translate }}</h5>
  </div>
  <div class="col">
    <div class="row">
      <div class="col col-sm-4"><h6>{{ 'user.operations.auctions.header' | translate }}</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link ongoing"
               (click)="showAuctions()">{{ 'user.operations.auctions.showAuctions' | translate }}</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-sm-4"><h6>{{ 'user.operations.bets.header' | translate }}</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link ongoing"
               (click)="showBets()">{{ 'user.operations.bets.showBets' | translate }}</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-sm-4"><h6>{{ 'user.operations.profile.header' | translate }}</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link"
               (click)="changePassword()">{{ 'user.operations.profile.changePassword' | translate }}</div>
        </div>
        <div *ngIf="!isAdmin()" class="row">
          <div class="btn btn-sm btn-link danger"
               (click)="deleteAccount()">{{ 'user.operations.profile.deleteAccount' | translate }}</div>
        </div>
      </div>
    </div>
    <hr *ngIf="isManager()">
    <div *ngIf="isManager()" class="row">
      <div class="col col-sm-4"><h6>{{ 'user.operations.management.header' | translate }}</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link mng"
               routerLink="/management">{{ 'user.operations.management.managementPage' | translate }}</div>
        </div>
      </div>
    </div>
    <hr *ngIf="isAdmin()">
    <div *ngIf="isAdmin()" class="row">
      <div class="col col-sm-4"><h6>{{ 'user.operations.administration.header' | translate }}</h6></div>
      <div class="col">
        <div class="row">
          <div class="btn btn-sm btn-link adm"
               routerLink="/administration">{{ 'user.operations.administration.administrationPage' | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-user-operations></app-user-operations>
<app-change-password></app-change-password>
