<div>
  <tabset #staticTabs>
    <tab heading="{{ 'management.heading.categories' | translate }}"><app-manage-categories></app-manage-categories></tab>
    <tab heading="{{ 'management.heading.products' | translate }}"><app-manage-products></app-manage-products></tab>
    <tab heading="{{ 'management.heading.auctions' | translate }}"><app-manage-auctions></app-manage-auctions></tab>
    <tab heading="{{ 'management.heading.bets' | translate }}"><app-manage-bets></app-manage-bets></tab>
  </tabset>
</div>
