<div class="container">
  <br>
  <h2>{{ 'management.categories.header' | translate }}</h2>
  <hr>
  <div class="form-group row">
    <label for="newCategory"><b>{{ 'management.categories.form.label' | translate }}</b></label>
    <div class="col">
      <input type="text"
             [(ngModel)]="newCategory"
             class="form-control input-sm"
             id="newCategory"
             maxlength="25"
             #newInput="ngModel">
      <div [hidden]="!failed || newInput.pristine"
           class="alert alert-danger">{{ 'management.categories.form.failed' | translate }}
      </div>
    </div>
    <div class="col">
      <button [disabled]="!newCategory && buttonLocked"
              class="btn btn-info"
              (click)="addNewCategory()">{{ 'management.categories.form.button' | translate }}</button>
    </div>
  </div>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>{{ 'management.categories.table.header.category' | translate }}</th>
      <th class="table-danger">{{ 'management.categories.table.header.delete' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td>{{category.name}}</td>
      <td>
        <span class="btn fa fa-times-rectangle-o dis" (click)="openConfirmDeleteModal(template); selectedCategory=category"></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{ 'management.categories.confirm.message' | translate }}</p>
    <button type="button"
            class="btn btn-default"
            (click)="confirmDeleteCategory()">{{ 'management.categories.confirm.yes' | translate }}</button>
    <button type="button"
            class="btn btn-primary"
            (click)="declineDeleteCategory()">{{ 'management.categories.confirm.no' | translate }}</button>
  </div>
</ng-template>
